@import "_mixin.scss";
@import "common.scss";
.wrap {
    @include num(100%, 100%);
    @include box_flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    @include num(100%, rem(44px));
    background: #ccc;
    input {
        @include num(100%, 80%);
        border: 1px solid red;
    }
}